<?xml version="1.0" encoding="utf-8" ?>
<configuration>
   <appSettings>
       <add key="FileComuni" value="C:\\Users\\emili\\Documents\\GitHub\\CiociariaGuerraBot\\Models\\Coordinate_Comuni.xml" />
       <add key="FileMappa" value="C:\\Users\\emili\\Documents\\GitHub\\CiociariaGuerraBot\\Models\\Mappa_vettori.svg" />
       <add key="OutputFolder" value="Output" />
   </appSettings>
</configuration>
